.movie-details {
   background-color: #02091B;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.description-container {
   /* height: 150px; */
    /* width: 1200px; */
    background-color: #02091B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: #115770 3px solid;
    border-left: none;
    border-bottom: #115770 3px solid;
}

.overal-stats {
   display: flex;
    width: 55em;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    height: 25em;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #02091b45;
    color: #9be0f8;
}

.movie-release, 
.movie-revenue,
.movie-runtime,
.movie-ratings,
.genres {
   margin: 5px 0 0 0;
   font-size: 1.3em;
}