.movie-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.list-header {
  font-size: 3em;
  font-weight: 500;
}

.list-grid {
  padding: 2em;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1em;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}
