.movie-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.list-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin: 10px 0 0 0;
  color: #9BE0F8;
}

.list-grid {
  padding: 2em;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 2em;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1816px) {
  .list-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1440px) {
  .list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .list-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
