.movie-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.movie-image {
  height: 25em;
  width: auto;
}

.movie-title {
  font-size: 1.5em;
  font-weight: bold;
}

.movie-ratings {
  font-size: .8em;
}

.movie-release {
  
}
