.movie-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.movie-image {
  border-radius: .3em;
  height: 25em;
  width: auto;
}

.movie-info {
  font-size: .9em;
}

.movie-title {
  font-size: 1.7em;
  font-weight: bold;
}
