nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  background: #251B33;
  color: #9BE0F8;
}

.home {
  background: #9BE0F8;
  color: #251B33;
  text-decoration: none;
  margin: 1em;
  padding: .5em .8em;
  font-size: 1.2em;
  border-radius: .6em;
}

.home:hover {
  background: lightgrey;
}

.home-icon {
  width: 20px;
  height: 20px;
}